body{
    font-family: 'Roboto',Arial, sans-serif;
    width: 100%;
    display: flex;
}
*{
    box-sizing: border-box;
}
/* en-tête du site */
header{
    display:flex;
    height:70px;
    background:#2F2F38;
    border: 1px solid #2F2F38;
    width: 100%;
    justify-content: flex-start;
}
.titre{
    display:flex;

}

h1{
    color :#F7F7F7;
    font-size : 30px;
    margin-left: 20px;
}
/* .butTop{
    position: relative;
    left: 802px;
    top: 20px;
}*/

.butTop1{
    color: white;
    font-weight: bold;
    border:1px solid #8bE5DD;
    border-radius: 3px;
    background-color:#2f2F38;
    width:90px;
    height:25px;
}
.butTop2{
    color: white;
    font-weight: bold;
    border:1px solid #8bE5DD;
    border-radius: 3px;
    background-color:#2f2F38;
    width:90px;
    height:25px;
}
.crea{
    color: white;
    font-weight: bold;
    border:1px solid #8bE5DD;
    border-radius: 3px;
    background-color:#8bE5DD;
    width:100px;
    height:35px;
}
.butMiddle{
    border: 2px solid black;
    display: block;
}
nav{
    width: auto;
    height:400px;
}
.inscrit{
display: flex;
flex-direction: column;
}
