body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

*{
    box-sizing: border-box;
}
/* en-tête du site */
header{
    display:flex;
    height:70px;
    background:#2F2F38;
    border: 1px solid #2F2F38;
    width: 100%;
    justify-content: flex-start;
}
.titre{
    display:flex;

}

h1{
    color :#F7F7F7;
    font-size : 30px;
    margin-left: 20px;
}
/* Formulaire url youtube */
.form1{
    width : 550px;
    height: 25px;
    border:2px solid #e5e5e5  ;
    border-style:bold;
}

.ajouter{
    /* color: white;
    font-weight: bold;
    border:1px solid #e5e5e5;
    border-radius: 3px;
    background-color:#11ecbc;
    width:80px;
    height:25px; */
    position: relative;
    left: 567px;
    bottom: 29px;
}
/* Video youtube */
.video{
    width:590 ;
    height:315;
    display: flex;
    justify-content: center;
}
.button{
    display : flex;
    flex-direction: row;
    justify-content: center;
    width:590 ;
    height:315;
}
.lists{
    overflow: scroll;
    height: 250px;
}

/* formulaire play video et delete video */
#from2{
    display:flex;
    flex-direction: flex-start;
}
.globale{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:590px;
    height:600px;
    border: 1px solid white;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
}

.video1{
    border: 1px solid #e5E5E5;
    border-top:none;
    border-left:none;
    border-right:none;
    border-style:bold;
    width: 400px;
    height:25px;
    position: relative;
    bottom: 5px;
    font-weight:bold;
    color:#2F2F38;
}
